name: CI/CD
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

concurrency:
  group: "${{ github.workflow }}-${{ github.branch }}"
  cancel-in-progress: false

jobs:
  check:
    name: Flake check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Nix installer
        uses: DeterminateSystems/nix-installer-action@v14

      - name: Nix flake check
        run: nix flake check

  images:
    name: Containerimages
    runs-on: ubuntu-latest
    if: ${{ github.event_name != 'pull_request' && github.ref_name == 'main' }}
    needs: [check]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Nix installer
        uses: DeterminateSystems/nix-installer-action@v14

      - name: Build containerimage
        run: nix build .#commandererContainerImage

      - name: Load the container image into docker
        run: docker load < result

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push the containerimage
        run: docker push ghcr.io/rubenhoenle/pixelknecht/commanderer:unstable
